--
-- PostgreSQL database dump
--


-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.appointments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    service_id uuid NOT NULL,
    employee_id uuid NOT NULL,
    client_name text NOT NULL,
    phone text NOT NULL,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone NOT NULL,
    status text DEFAULT 'scheduled'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    client_id uuid,
    review_sent_at timestamp without time zone,
    created_by uuid
);


--
-- Name: businesses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.businesses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    timezone text NOT NULL,
    google_calendar_id text,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    google_refresh_token text,
    google_connected_at timestamp without time zone,
    subscription_status text NOT NULL,
    plan_code text,
    whatsapp_number character varying(20),
    google_review_url text,
    slug character varying(100),
    review_message text,
    opening_time time without time zone,
    closing_time time without time zone,
    tolerance_minutes integer DEFAULT 0,
    opening_time_weekday time without time zone,
    closing_time_weekday time without time zone,
    opening_time_saturday time without time zone,
    closing_time_saturday time without time zone,
    opening_time_sunday time without time zone,
    closing_time_sunday time without time zone,
    CONSTRAINT subscription_status_check CHECK ((subscription_status = ANY (ARRAY['PENDING_PAYMENT'::text, 'ACTIVE'::text, 'SUSPENDED'::text])))
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    visits integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    attended_count integer DEFAULT 0,
    no_show_count integer DEFAULT 0,
    cancelled_count integer DEFAULT 0,
    first_visit_at timestamp without time zone,
    last_visit_at timestamp without time zone,
    phone_normalized text,
    review_sent_at timestamp without time zone
);


--
-- Name: employee_attendance; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_attendance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    employee_id uuid NOT NULL,
    date date NOT NULL,
    check_in time without time zone,
    check_out time without time zone,
    status text,
    arrived_late boolean DEFAULT false,
    left_late boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    left_early boolean DEFAULT false,
    CONSTRAINT employee_attendance_status_check CHECK ((status = ANY (ARRAY['PRESENT'::text, 'ABSENT'::text])))
);


--
-- Name: employee_services; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_services (
    employee_id uuid NOT NULL,
    service_id uuid NOT NULL,
    active boolean DEFAULT true
);


--
-- Name: employees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employees (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    first_name text,
    last_name text,
    phone text,
    start_time time without time zone,
    expected_check_in time without time zone,
    expected_check_out time without time zone,
    tolerance_minutes integer DEFAULT 0
);


--
-- Name: services; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.services (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    name text NOT NULL,
    duration_minutes integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    price_min numeric,
    price_max numeric,
    is_active boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: staff; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.staff (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    business_id uuid NOT NULL,
    role text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    is_active boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT staff_role_check CHECK ((role = ANY (ARRAY['owner'::text, 'staff'::text])))
);


--
-- Name: staff_activity_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.staff_activity_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    staff_user_id uuid NOT NULL,
    action_type text NOT NULL,
    employee_id uuid,
    appointment_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    business_id uuid NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['OWNER'::text, 'STAFF'::text])))
);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: employee_attendance employee_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_attendance
    ADD CONSTRAINT employee_attendance_pkey PRIMARY KEY (id);


--
-- Name: employee_services employee_services_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_services
    ADD CONSTRAINT employee_services_pkey PRIMARY KEY (employee_id, service_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: staff_activity_logs staff_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_activity_logs
    ADD CONSTRAINT staff_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: employee_attendance uniq_employee_day; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_attendance
    ADD CONSTRAINT uniq_employee_day UNIQUE (employee_id, date);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: businesses_slug_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX businesses_slug_unique ON public.businesses USING btree (slug);


--
-- Name: employee_services_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX employee_services_unique ON public.employee_services USING btree (employee_id, service_id);


--
-- Name: idx_appointments_business_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_business_time ON public.appointments USING btree (business_id, starts_at);


--
-- Name: idx_appointments_employee_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_employee_time ON public.appointments USING btree (employee_id, starts_at, ends_at);


--
-- Name: idx_staff_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_action ON public.staff_activity_logs USING btree (action_type);


--
-- Name: idx_staff_logs_business; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_business ON public.staff_activity_logs USING btree (business_id);


--
-- Name: idx_staff_logs_business_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_business_created ON public.staff_activity_logs USING btree (business_id, created_at DESC);


--
-- Name: idx_staff_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_created_at ON public.staff_activity_logs USING btree (created_at);


--
-- Name: idx_staff_logs_staff; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_staff ON public.staff_activity_logs USING btree (staff_user_id);


--
-- Name: idx_staff_logs_staff_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_staff_logs_staff_created ON public.staff_activity_logs USING btree (staff_user_id, created_at DESC);


--
-- Name: uniq_client_phone_per_business; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uniq_client_phone_per_business ON public.clients USING btree (business_id, phone_normalized);


--
-- Name: ux_employee_service; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_employee_service ON public.employee_services USING btree (employee_id, service_id);


--
-- Name: appointments appointments_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- Name: appointments appointments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: appointments appointments_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id);


--
-- Name: clients clients_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- Name: employee_services employee_services_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_services
    ADD CONSTRAINT employee_services_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: employee_services employee_services_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_services
    ADD CONSTRAINT employee_services_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: employees employees_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- Name: employee_attendance fk_employee; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_attendance
    ADD CONSTRAINT fk_employee FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: staff_activity_logs fk_staff_logs_appointment; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_activity_logs
    ADD CONSTRAINT fk_staff_logs_appointment FOREIGN KEY (appointment_id) REFERENCES public.appointments(id) ON DELETE SET NULL;


--
-- Name: staff_activity_logs fk_staff_logs_business; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_activity_logs
    ADD CONSTRAINT fk_staff_logs_business FOREIGN KEY (business_id) REFERENCES public.businesses(id) ON DELETE CASCADE;


--
-- Name: staff_activity_logs fk_staff_logs_employee; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_activity_logs
    ADD CONSTRAINT fk_staff_logs_employee FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: staff_activity_logs fk_staff_logs_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_activity_logs
    ADD CONSTRAINT fk_staff_logs_user FOREIGN KEY (staff_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: services services_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- Name: staff staff_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- Name: staff staff_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- PostgreSQL database dump complete
--


